.navbar a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 16px;
}
.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}

.d-flex{
    padding: 10px;
}